@import "fonts.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'FiraSans', 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

button {
  color: #ffffff;
  font-family: 'FiraSans', 'Verdana', sans-serif;
  font-weight: 700;
}

#root {
  height: 100%;
}

p, span {
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}